# Workshop provider slapd.conf
serverId {{ openldap_serverid }}

include    /opt/symas/etc/openldap/schema/core.schema
include    /opt/symas/etc/openldap/schema/cosine.schema
include    /opt/symas/etc/openldap/schema/inetorgperson.schema
include    /opt/symas/etc/openldap/schema/rfc2307bis.schema
include    /opt/symas/etc/openldap/schema/openldap.schema
include    /opt/symas/etc/openldap/schema/dyngroup.schema
include    /opt/symas/etc/openldap/schema/namedobject.schema

modulepath /opt/symas/lib/openldap
moduleload back_mdb
moduleload ppolicy
moduleload syncprov
moduleload argon2
moduleload pw-sha2
moduleload accesslog

# SSL Configuration
TLSCertificateFile    /opt/symas/ssl/letsencrypt/fullchain.pem
TLSCertificateKeyFile /opt/symas/ssl/letsencrypt/privkey.pem
# The CA trusted to issue client certs != tls_cacertdir=/etc/ssl/certs/
TLSCACertificateFile  /opt/symas/ssl/ca.crt
TLSCipherSuite HIGH:MEDIUM:!ADH
TLSProtocolMin 3.1
TLSVerifyClient allow

loglevel       stats sync
logfile        /var/log/slapd/slapd.log
logfile-format rfc3339-utc
logfile-only   on
logfile-rotate 15 1000 24

require LDAPv3
idletimeout 0
writetimeout 30
sizelimit 2000
timelimit 60
threads 16
gentlehup on
pidfile /var/symas/run/slapd.pid
argsfile /var/symas/run/slapd.args

password-hash {SSHA}

sortvals member

# ACLS:

# root accessing the ldapi socket should have rootdn privs
authz-regexp gidNumber=0\\\+uidNumber=0,cn=peercred,cn=external,cn=auth {{ suffix }}
authz-regexp gidNumber=997\\\+uidNumber=997,cn=peercred,cn=external,cn=auth cn=monitoruser,ou=administrators,{{ suffix }}
{% for name in groups.database + groups.replica %}
authz-regexp cn={{ (name | split('.'))[0] }},ou=hosts,{{ suffix }} cn=replica,ou=administrators,{{ suffix }}
{% endfor %}

# Global ACLs
access to dn.base=""
  by * read

access to dn.subtree="cn=subschema"
  by * read

#######################################################################
# The configuration database
#######################################################################
# The workshop is tested via cn=config changes but attendees can do it through
# editing this file.
database    config
rootdn      "cn=config"

access to *
    by dn.exact="{{ suffix }}" manage
    by * none

#######################################################################
# Acceslog DB Settings
#######################################################################
database mdb
suffix cn=accesslog
directory /var/symas/openldap-data/cn=accesslog
rootdn cn=accesslog
maxsize 4294967296
index default eq
index entryCSN,objectClass,reqEnd,reqResult,reqStart,reqDN,entryUUID

limits dn.exact="cn=replica,ou=Administrators,{{ suffix }}" size=unlimited time=unlimited

access to *
  by dn.exact="cn=replica,ou=administrators,{{ suffix }}" read
  by * none

overlay syncprov
syncprov-nopresent TRUE
syncprov-reloadhint TRUE

#######################################################################
# Default DB Settings
#######################################################################
database  mdb
maxreaders 64
maxsize 4294967296
suffix  "{{ suffix }}"
rootdn  "{{ suffix }}"

directory "/var/symas/openldap-data/{{ suffix }}"

limits dn.exact="cn=replica,ou=Administrators,{{ suffix }}" size=unlimited time=unlimited


{% for name in groups.database %}
syncrepl rid={{hostvars[name].openldap_serverid}} provider=ldaps://{{name}}
  searchbase="{{ suffix }}"
  type=refreshAndPersist schemachecking=on network-timeout=30
  tcp-user-timeout=5000 keepalive=180:10:30 retry="5 5 30 +"
  bindmethod=sasl saslmech=EXTERNAL
  tls_reqcert=demand tls_cacertdir=/etc/ssl/certs/
  tls_cert=/opt/symas/ssl/{{inventory_hostname}}.crt
  tls_key=/opt/symas/ssl/{{inventory_hostname}}.key
  syncdata=accesslog logbase=cn=accesslog
  logfilter="(&(objectclass=auditWriteObject)(reqresult=0))"

{% endfor %}

#### ACLs #############################################################
# Deliberately short. ppolicy operational attributes are readable by
# administrators only, after all a user must not be able to see how
# close their colleagues are to being locked out.

access to *
    by dn="cn=replica,ou=administrators,{{ suffix }}" read
    by dn.exact="uid=jmeter,ou=applications,{{ suffix }}" write
    by * break

# admin can terminate another account (includes removing a password)
# and set the initial state. And people can change their own. In a live system
# you'd not give hosts and applications this privilege, here we simplify
access to attrs=userPassword
    by self =wx
    by group/groupOfMembers/member="cn=ldapadmins,ou=groups,{{ suffix }}" =w
    by anonymous auth
    by * none

# Password policy state is admin only
access to attrs=pwdChangedTime,pwdAccountLockedTime,pwdFailureTime,pwdHistory,pwdGraceUseTime,pwdReset,pwdStartTime,pwdEndTime,pwdLastSuccess,pwdAccountTmpLockoutEnd
    by dn.exact="uid=updater,ou=administrators,{{ suffix }}" manage
    by group/groupOfMembers/member="cn=ldapadmins,ou=groups,{{ suffix }}" write
    by * none

# The policy links and entries themselves are readable: a user is allowed to
# find out what they're bound to. Temporarily allow ldapadmins to set it but
# this is not the way with 2.7+
access to attrs=pwdPolicySubentry
    by group/groupOfMembers/member="cn=ldapadmins,ou=groups,{{ suffix }}" write
    by users read
    by * none

access to dn.subtree="ou=policies,{{ suffix }}"
    by group/groupOfMembers/member="cn=ldapadmins,ou=groups,{{ suffix }}" write
    by users read
    by * none

access to *
    by group/groupOfMembers/member="cn=ldapadmins,ou=groups,{{ suffix }}" write
    by self read
    by users read
    by * none

#### ACLs end #########################################################

index uidNumber,gidNumber,objectclass eq
index cn,sn,givenName,telephoneNumber,mail eq,sub
index uid,ou eq,sub
index member,uniqueMember,owner,seeAlso eq
index entryCSN,entryUUID eq

overlay syncprov
syncprov-checkpoint 1000 15
syncprov-sessionlog-source cn=accesslog

multiprovider on

overlay accesslog
logdb cn=accesslog
logops writes

logsuccess TRUE
logpurge 07+00:00 01+00:00

#######################################################################
# Password policy, as it stands after {{ ppolicy_stages_done }} stage(s)
# of the workshop.
#######################################################################
{% include 'workshop/ppolicy.conf.j2' %}

#######################################################################
# Monitor database
#######################################################################
database monitor

access to *
  by dn.exact="cn=monitoruser,ou=administrators,{{ suffix }}" read
  by dn.exact="{{ suffix }}" write
  by * none
